In [1]:
(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
range(2,22)

range(2, 22)

In [4]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [5]:
name='yabuki'

In [6]:
len(name)

6

In [7]:
name.upper()

'YABUKI'

In [8]:
len(0,1,2,3,4,)

TypeError: len() takes exactly one argument (5 given)

In [9]:
address='Tokyo,Japan'

In [10]:
address.split(',')

['Tokyo', 'Japan']

In [11]:
address.index('T')

0

In [12]:
address.index(p)

NameError: name 'p' is not defined

In [13]:
address('p')

TypeError: 'str' object is not callable

In [14]:
address.index('p')

8

indexはaddressの('TokyoJapan')の文字列の中の何番目にあるかの検索をしてくれる。

In [15]:
address.index('o')

1

In [16]:
address.capitalize

In [17]:
address.capitalize('o')

TypeError: capitalize() takes no arguments (1 given)

In [18]:
address.upper

In [19]:
address.upper(k)

NameError: name 'k' is not defined

In [20]:
address.uppper('k')

AttributeError: 'str' object has no attribute 'uppper'

In [21]:
address.upper('k')

TypeError: upper() takes no arguments (1 given)

In [22]:
from datetime import*

In [23]:
date_a=date

In [24]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [25]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [26]:
date_a.year

2008

In [27]:
date_a.month

1

In [28]:
date_a.day

1

In [29]:
date.today()

datetime.date(2017, 5, 17)

In [30]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date.today()
result = date_b - date_a
print(result)

3424 days, 0:00:00

In [31]:
from datetime import *
date_a = date(1996, 12, 29)
date_b = date.today()
result = date_b - date_a
print(result)

7444 days, 0:00:00

In [32]:
birthday=date(1996,12,29)

In [33]:
today=date.today()

In [34]:
result=today-birthday

In [35]:
print(result)

7444 days, 0:00:00

In [36]:
today.weekday

In [37]:
today.weekday()

2

|date|

In [38]:
date_c=date(2000,5,5)

In [39]:
tmp='2000,5,5'

In [40]:
tmp2={2000,5,5}

date()は新しいデータをつくる初期化メソッドという